$.ULAMODE diff=bbcbasic
$.DETECTNULA diff=bbcbasic
$.NULA1 diff=bbcbasic
N.2-SCROLL-1 diff=bbcbasic
N.3-BLANK-1 diff=bbcbasic
N.1-PAL-1 diff=bbcbasic
N.1-PAL-2 diff=bbcbasic
N.4-SPEC-1 diff=bbcbasic
Z.ATTR diff=bbcbasic
